.cart {
  background-color: var(--white);
  width: 80%;
  position: absolute;
  right: 3rem;
  top: 6rem;
  z-index: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  overflow-y: scroll;
  max-height: 80vh;
}

@media (min-width: 468px) {
  .cart {
    width: 40rem;
  }
}

.cart__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart__btn {
  margin-top: 2rem;
  background-color: var(--red);
  border: none;
  padding: 1rem 0;
  width: 60%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__btn:hover {
  cursor: pointer;
}
